* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  font-family: Roboto, "Segoe UI", Arial, sans-serif;
  background-color: #ccc;
}

.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.column {
  width: 480px;
  padding: 20px 20px;
  min-height: 100vh;
  margin: 0 auto;
  background-color: #fff;
}

.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.button {
  border: 1px solid black;
  background-color: #fff;
  font-size: 20px;
  color: black;
  width: 120px;
  height: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 6px;
  cursor: pointer;
  transition: all .2s ease;
}

.form-submit-button {
  margin-right: 20px;
}

.form-input {
  width: 390px;
  border: 1px solid black;
  border-radius: 6px;
  height: 40px;
  line-height: 40px;
  padding: 0 10px;
  font-size: 16px;
}

.form-input::placeholder {
  transition: all .3s ease;
}

.form-input:focus::placeholder {
  opacity: 0;
}

.header-title {
  padding-left: 11px;
}

.button:focus {
  outline: none;
}

.header-add-button:hover,
.form-submit-button:hover {
  box-shadow: 0 2px 5px green;
}

.button-cancel {
  border-color: red;
  color: red
}

.button-cancel:hover {
  box-shadow: 0 2px 5px red;
}

.card {
  display: flex;
  border: 1px solid black;
  border-radius: 6px;
  padding: 10px;
  margin-bottom: 10px;
}

.card-content {
  margin-right: auto;
}

.card-control {
  cursor: pointer;
  font-size: 22px;
  line-height: 22px;
  margin-bottom: 10px;
  transition: all .2s ease;
}

.card-name {
  font-weight: bold;
}

.card-color-prewiev {
  width: 22px;
  height: 22px;
  margin-right: 7px;
  border: 1px solid black;
  border-radius: 2px;
}

.card-name {
  margin-bottom: 10px;
}

.card-type {
  color: #888888;
  margin-bottom: 7px;
}

.color-wrapper {
  display: flex;
}

.card-control:last-child {
  margin-bottom: 0;
}

.card-control:hover {
  transform: scale(1.3);
  color: blue;
}

.card-control--delete {
  font-size: 30px;
}

.card-control--delete:hover {
  color: red;
}

.form-input {
  display: block;
  margin-bottom: 10px;
}

.display-none {
  display: none;
}

.card:first-child .card-control--up {
  color: grey;
}

.card:first-child .card-control--up:hover {
  transform: none;
  color: grey;
}

.card:last-child .card-control--down {
  color: grey;
}

.card:last-child .card-control--down:hover {
  transform: none;
  color: grey;
}

.welcome-message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #888888;
  color: #888888;
  padding: 40px;
  padding-top: 20px;
  border-radius: 10px;
  font-size: 20px;
}

.welcome-message-arrow {
  font-size: 50px;
  line-height: 1;
  color: #aaaaaa;
  text-align: center;
}

.welcome-message-title {
  font-weight: bold;
  margin-bottom: 7px;
}

@media (min-width: 780px) {
  .column {
    width: 80%;
    max-width: 1200px;
  }

  .card-name {
    margin-bottom: 0;
  }

  .card-type {
    margin-bottom: 0;
  }

  .card-content {
    display: flex;
  }

  .card-controls {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }

  .card-control {
    font-size: 22px;
    line-height: 22px;
    margin-bottom: 0;
    margin-right: 10px;
    transition: all .2s ease;
  }

  .card-control:first-child {
    margin-right: 0;
  }

  .card-content {
    width: 80%
  }

  .card-name {
    padding-right: 20px;
    width: 65%;
    text-align: left;
  }

  .card-type {
    padding-right: 20px;
    width: 15%;
    text-align: left;
  }

  .color-wrapper {
    width: 20%
  }
}

#rgbValue, #hslaValue {
  float: right;
}

.cj-container {
  overflow: auto;
}

#showPicker {
  float: left;
}

.colorPicker {
  background: white;
  border: 1px solid black;
  border-radius: 6px;
  display: inline-block;
  margin-bottom: 20px;
}

.colorPicker .extras {
  float: right;
  margin: 0.5em;
}

.colorPicker .extras .currentColorContainer {
  overflow: hidden;
}

.colorPicker .extras .currentColor {
  float: right;
  width: 65px;
  height: 30px;
  border: 1px solid black;
  border-radius: 6px;
  margin-bottom: 10px;
}

.colorPicker .extras .colorFields {
  margin-bottom: 10px;
}

.colorPicker .extras .color {
  text-align: right;
}

.colorPicker .extras .colorFields input {
  width: 60px;
  height: 30px;
  font-size: 16px;
  line-height: 30px;
  padding: 0 7px;
  margin-left: 0.5em;
  border: 1px solid black;
  border-radius: 6px;
  margin-bottom: 7px;
}

.colorPicker .extras .hex {
  float: right;
}

.colorPicker .extras .hex input {
  width: 80px;
  height: 30px;
  font-size: 16px;
  line-height: 30px;
  border: 1px solid black;
  border-radius: 6px;
  padding: 0 7px;
}

.colorPicker .twod {
  float: left;
  margin: 0.5em;
}

/* main dimensions */
.colorPicker .twod, .colorPicker .twod .bg {
  width: 240px;
  height: 240px;
}
.colorPicker .oned, .colorPicker .oned .bg {
  height: 240px;
}
.colorPicker .oned, .colorPicker .oned .bg, .colorPicker .oned .pointer .shape {
  width: 20px;
}

.colorPicker .twod .bg {
  position: absolute;

  /* These seem to cause issues in some browsers, careful!
  border: 1px solid #BBB;
  -moz-border-radius: .3em;
  border-radius: .3em;
  */
}
.colorPicker .twod .pointer {
  position: relative;
  z-index: 2;
  width: 8px;
}
.colorPicker .twod .pointer .shape {
  position: absolute;
}
.colorPicker .twod .pointer .shape1 {
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 14px;
  height: 14px;
  border: 2px solid black;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.colorPicker .twod .pointer .shape2 {
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 12px;
  height: 12px;
  border: 2px solid white;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.colorPicker .oned {
  float: left;
  margin: 0.5em;
}

.colorPicker .oned .bg {
  border: 1px solid #BBB;
  /*
  -moz-border-radius: .3em;
  border-radius: .3em;
  */
}
.colorPicker .oned .pointer {
  position: relative;
  z-index: 2;
}
.colorPicker .oned .pointer .shape {
  position: absolute;
  margin-left: -3px;
  margin-top: -4px;
  height: 10px;
  width: 25px;
  border: 3px solid white;
  -moz-border-radius: 5px;
  border-radius: 5px;
  box-shadow: 0 0 1px 1px black;
}
/* gradients, tweak as needed based on which browsers you want to support */
.colorPicker .oned .bg {
  background: -moz-linear-gradient(top,  #ff0000 0%, #ffff00 17%, #00ff00 33%, #00ffff 50%, #0000ff 66%, #ff00ff 83%, #ff0000 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff0000), color-stop(17%,#ffff00), color-stop(33%,#00ff00), color-stop(50%,#00ffff), color-stop(66%,#0000ff), color-stop(83%,#ff00ff), color-stop(100%,#ff0000));
  background: -webkit-linear-gradient(top,  #ff0000 0%,#ffff00 17%,#00ff00 33%,#00ffff 50%,#0000ff 66%,#ff00ff 83%,#ff0000 100%);
  background: -o-linear-gradient(top,  #ff0000 0%,#ffff00 17%,#00ff00 33%,#00ffff 50%,#0000ff 66%,#ff00ff 83%,#ff0000 100%);
  background: linear-gradient(to bottom,  #ff0000 0%,#ffff00 17%,#00ff00 33%,#00ffff 50%,#0000ff 66%,#ff00ff 83%,#ff0000 100%);
}

.colorPicker .twod .bg1 {
  z-index: 0;
  background: -moz-linear-gradient(left,  rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0)));
  background: -webkit-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
  background: -o-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
  background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
}
.colorPicker .twod .bg2 {
  z-index: 1;
  background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,1)));
  background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%);
  background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%);
  background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%);
}

#hslPicker .twod .bg1 {
  background: -moz-linear-gradient(left,  #ff0000 0%, #ffff00 17%, #00ff00 33%, #00ffff 50%, #0000ff 66%, #ff00ff 83%, #ff0000 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ff0000), color-stop(17%,#ffff00), color-stop(33%,#00ff00), color-stop(50%,#00ffff), color-stop(66%,#0000ff), color-stop(83%,#ff00ff), color-stop(100%,#ff0000));
  background: -webkit-linear-gradient(left, #ff0000 0%,#ffff00 17%,#00ff00 33%,#00ffff 50%,#0000ff 66%,#ff00ff 83%,#ff0000 100%);
  background: -o-linear-gradient(left, #ff0000 0%,#ffff00 17%,#00ff00 33%,#00ffff 50%,#0000ff 66%,#ff00ff 83%,#ff0000 100%);
  background: linear-gradient(to right, #ff0000 0%,#ffff00 17%,#00ff00 33%,#00ffff 50%,#0000ff 66%,#ff00ff 83%,#ff0000 100%);
}

#hslPicker .twod .bg2 {
  background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(127,127,127,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(127,127,127,1)));
  background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(127,127,127,1) 100%);
  background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(127,127,127,1) 100%);
  background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(127,127,127,1) 100%);
}

#hslPicker .oned .bg {
  z-index: 1;
  background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(0,0,0,0) 50%, rgba(0,0,0,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(50%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,1)));
  background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(0,0,0,0),rgba(0,0,0,1) 100%);
  background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(0,0,0,0) 50%,rgba(0,0,0,1) 100%);
  background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(0,0,0,0) 50%,rgba(0,0,0,1) 100%);
}

#hslPicker .extras {
  width: 100px;
}

#hslPicker .oned.alpha {
  margin: 0;
}

#hslPicker .oned.alpha .bg {
  background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(0,0,0,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(0,0,0,1) 100%); /* W3C */
}
